body, html {
  overflow-x: hidden;
}

.width300 {
  width: 300px;
}

li {
  list-style-type: none;
}

.bg-green {
  background: green;
}

a {
  text-decoration: none;
  color: black;
}

.black {
  color: black;
}

.white {
  color: white;
}

body {
  font-family: "Inter", sans-serif;
}

.w100 {
  width: 100%;
}

.sub-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 208%;
  color: black;
}

.mt130 {
  margin-top: 130px;
}

.mt100 {
  margin-top: 100px;
}

.mt60 {
  margin-top: 60px;
}

.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

.fw900 {
  font-weight: 900;
}

.fw500 {
  font-weight: 500 !important;
}

ol, ul {
  padding: 0;
  margin: 0;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1680px;
  }
}
.title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.orange {
  color: #FFCB00;
}

.df {
  display: flex;
}

.header {
  display: flex;
  height: 140px;
  width: 100%;
  align-items: center;
}

.header-left .logo img {
  width: 100%;
}

.header-center {
  margin-left: 170px;
  margin-top: 0.7rem;
}
.header-center li {
  margin-right: 2rem;
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
}
.header-center li:last-child {
  margin-right: 0;
}

.header-menu {
  display: flex;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-right ul li {
  display: flex;
  margin-right: 48px;
  font-size: 16px;
  white-space: nowrap;
}
.header-right ul li .icon {
  margin-right: 18px;
}

.main-block {
  background: url(../images/main-block/main-block.png);
  padding-top: 85px;
  padding-bottom: 90px;
}
.main-block .title {
  width: 33%;
  color: white;
}
.main-block .text {
  width: 40%;
  color: white;
}
.main-block .row {
  margin-top: 80px;
}
.main-block .col-4 {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15.276px);
  border-radius: 20px;
  padding: 48px 70px;
  white-space: nowrap;
  margin-right: 20px;
  width: 546px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: black;
}
.main-block .col-4:last-child {
  margin-right: 0;
}
.main-block .col-4 .icon {
  margin-right: 2rem;
}
.main-block .col-4 .text {
  color: black;
}

.items-num {
  margin-top: 62px;
  margin-bottom: 64px;
}
.items-num .wrapper {
  display: flex;
  justify-content: space-between;
}
.items-num .num {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  color: #D95454;
}
.items-num .text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.Our-support-methods {
  background: #F2F6FB;
  padding-top: 130px;
  padding-bottom: 134px;
}
.Our-support-methods .wrapper {
  display: flex;
  justify-content: space-between;
}
.Our-support-methods .support__item {
  margin-top: 60px;
  width: 33%;
}
.Our-support-methods .support__item-head {
  display: flex;
  padding: 40px 40px 40px 30px;
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: space-between;
  height: 230px;
}
.Our-support-methods .head {
  color: white;
  width: 240px;
  font-size: 24px;
  line-height: 34px;
}
.Our-support-methods .head-num {
  color: rgba(255, 255, 255, 0.5);
  font-size: 9.5rem;
  line-height: 9rem;
  margin-top: 3rem;
  font-weight: 600;
}
.Our-support-methods .supptort_item-inner {
  margin-top: 3rem;
}
.Our-support-methods .supptort_item-inner li {
  margin-top: 40px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}
.Our-support-methods .supptort_item-inner a {
  color: #078AD1;
  position: relative;
}
.Our-support-methods .supptort_item-inner a::before {
  position: relative;
  content: url(../images/support-methods/2icons.svg);
  width: 24px;
  height: 24px;
  margin-right: 30px;
}
.Our-support-methods .supptort_item-inner a:hover {
  color: #D95454;
}
.Our-support-methods .supptort_item-inner a:hover::before {
  position: relative;
  width: 24px;
  height: 24px;
  content: url(../images/support-methods/icon.svg);
  display: flex;
  justify-content: center;
}
.map .wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.map .map-right {
  margin-left: 50px;
}
.map .title {
  color: white;
  width: 70%;
}
.map .map-inner__wrapper {
  display: flex;
  margin-top: 52px;
  justify-content: space-between;
}
.map .map-item__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: white;
  margin-top: 20px;
  max-width: 220px;
}
.map .link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  position: absolute;
  right: 0;
}

.headers-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headers-titles .title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: black;
}
.headers-titles .sub-title {
  color: #078AD1;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.news {
  background: #F5F5F5;
}
.news .headers-titles {
  padding-top: 100px;
}
.news .wrapper {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}
.news .news-left {
  display: flex;
  flex-direction: column;
}
.news .date-head {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  width: 80px;
  height: 71px;
  background: #078AD1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .news-item {
  display: flex;
  width: 31%;
  background: white;
  padding: 30px;
  border-radius: 20px;
}
.news .news-item:nth-child(2n) .date-head {
  background: #40B576;
}
.news .date {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  color: #078AD1;
  background: #F1F1F1;
  border-radius: 6px;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.news .detail-link {
  margin-top: auto;
  color: #078AD1;
}
.news .news-right {
  margin-left: 60px;
}
.news .news-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.news .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 40px;
}