body, html {
  overflow-x: hidden;
}

.width300 {
  width: 300px;
}

li {
  list-style-type: none;
}

.bg-green {
  background: green;
}

a {
  text-decoration: none;
  color: black;
}

.black {
  color: black;
}

.white {
  color: white;
}

body {
  font-family: "Inter", sans-serif;
}

.w100 {
  width: 100%;
}

.sub-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 208%;
  color: black;
}

.mt130 {
  margin-top: 130px;
}

.mt100 {
  margin-top: 100px;
}

.mt60 {
  margin-top: 60px;
}

.mt40 {
  margin-top: 40px;
}

.mt20 {
  margin-top: 20px;
}

.fw900 {
  font-weight: 900;
}

.fw500 {
  font-weight: 500 !important;
}

ol, ul {
  padding: 0;
  margin: 0;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1680px;
  }
}
.title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.orange {
  color: #FFCB00;
}

.df {
  display: flex;
}

.header {
  display: flex;
  height: 140px;
  width: 100%;
  align-items: center;
}

.header-left .logo img {
  width: 100%;
}

.header-center {
  margin-left: 170px;
  margin-top: 0.7rem;
}
.header-center li {
  margin-right: 2rem;
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
}
.header-center li:last-child {
  margin-right: 0;
}

.header-menu {
  display: flex;
}

.header-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-right ul li {
  display: flex;
  margin-right: 48px;
  font-size: 16px;
  white-space: nowrap;
}
.header-right ul li .icon {
  margin-right: 18px;
}

.main-block {
  background: url(../images/main-block/main-block.png);
  padding-top: 85px;
  padding-bottom: 90px;
  background-size: cover;
}
.main-block .title {
  width: 33%;
  color: white;
}
.main-block .text {
  width: 40%;
  color: white;
  font-weight: 400;
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 34px;
}
.main-block .row {
  margin-top: 80px;
}
.main-block .col-4 {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15.276px);
  border-radius: 20px;
  padding: 48px 70px;
  white-space: nowrap;
  margin-right: 20px;
  width: 546px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: black;
}
.main-block .col-4:last-child {
  margin-right: 0;
}
.main-block .col-4 .icon {
  margin-right: 2rem;
}
.main-block .col-4 .text {
  color: black;
}

.items-num {
  margin-top: 62px;
  margin-bottom: 64px;
}
.items-num .wrapper {
  display: flex;
  justify-content: space-between;
}
.items-num .num {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  color: #D95454;
}
.items-num .text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.Our-support-methods {
  background: #F2F6FB;
  padding-top: 130px;
  padding-bottom: 134px;
}
.Our-support-methods .wrapper {
  display: flex;
  justify-content: space-between;
}
.Our-support-methods .support__item {
  margin-top: 60px;
  width: 33%;
}
.Our-support-methods .support__item-head {
  display: flex;
  padding: 40px 40px 40px 30px;
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: space-between;
  height: 230px;
}
.Our-support-methods .head {
  color: white;
  width: 240px;
  font-size: 24px;
  line-height: 34px;
}
.Our-support-methods .head-num {
  color: rgba(255, 255, 255, 0.5);
  font-size: 9.5rem;
  line-height: 9rem;
  margin-top: 3rem;
  font-weight: 600;
}
.Our-support-methods .supptort_item-inner {
  margin-top: 3rem;
}
.Our-support-methods .supptort_item-inner li {
  margin-top: 40px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}
.Our-support-methods .supptort_item-inner a {
  color: #078AD1;
  position: relative;
}
.Our-support-methods .supptort_item-inner a::before {
  position: relative;
  content: url(../images/support-methods/2icons.svg);
  width: 24px;
  height: 24px;
  margin-right: 30px;
}
.Our-support-methods .supptort_item-inner a:hover {
  color: #D95454;
}
.Our-support-methods .supptort_item-inner a:hover::before {
  position: relative;
  width: 24px;
  height: 24px;
  content: url(../images/support-methods/icon.svg);
  display: flex;
  justify-content: center;
}
.map .wrapper {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.map .map-right {
  margin-left: 50px;
}
.map .title {
  color: white;
  width: 70%;
}
.map .map-inner__wrapper {
  display: flex;
  margin-top: 52px;
  justify-content: space-between;
}
.map .map-item__text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  color: white;
  margin-top: 20px;
  max-width: 220px;
}
.map .link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  position: absolute;
  right: 0;
}

.headers-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headers-titles .title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: black;
}
.headers-titles .sub-title {
  color: #078AD1;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.news {
  padding-bottom: 100px;
  background: #F5F5F5;
}
.news .headers-titles {
  padding-top: 100px;
}
.news .wrapper {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}
.news .news-left {
  display: flex;
  flex-direction: column;
}
.news .date-head {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  width: 80px;
  height: 71px;
  background: #078AD1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .news-item {
  display: flex;
  width: 31%;
  background: white;
  padding: 30px;
  border-radius: 20px;
}
.news .news-item:nth-child(2n) .date-head {
  background: #40B576;
}
.news .date {
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  color: #078AD1;
  background: #F1F1F1;
  border-radius: 6px;
  width: 80px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.news .detail-link {
  margin-top: auto;
  color: #078AD1;
}
.news .news-right {
  margin-left: 60px;
}
.news .news-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.news .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 40px;
}

.partners {
  padding-bottom: 100px;
}
.partners .headers-titles {
  padding-top: 100px;
}
.partners .partners-wrapper {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}
.partners .item-image {
  width: 260px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners .item-text {
  margin-top: 24px;
  max-width: 260px;
}
.partners .swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.partners .swiper-button-prev::after, .partners .swiper-button-next::after {
  content: "";
}
.partners .swiper-button-prev::before, .partners .swiper-button-next::before {
  content: "";
}
.partners .swiper-button-next img {
  transform: rotate(180deg);
}

footer .footer-top {
  background: #2361AC;
  padding-top: 60px;
  padding-bottom: 72px;
}
footer .footer-wrapper {
  display: flex;
}
footer .footer-left {
  margin-right: 178px;
  width: 250px;
}
footer .footer-left .footer-left-bottom__items {
  display: flex;
  margin-top: 78px;
}
footer .footer-left .footer-left-bottom__items .mail {
  background: radial-gradient(248.08% 297.57% at 101.02% 0%, rgba(142, 220, 128, 0.9) 0%, rgba(65, 192, 122, 0.9) 100%);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
footer .footer-left .footer-left-bottom__items .search {
  background: radial-gradient(208.95% 187.1% at 0% 100%, rgba(103, 92, 239, 0.9) 0%, rgba(113, 143, 245, 0.9) 100%);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
footer .footer-left .text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 24px;
}
footer .footer-left .text .top-text {
  color: #91B0D6;
}
footer .footer-left .text a {
  color: white;
  font-weight: 700;
}
footer .footer-center ul {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-center li {
  color: white;
  width: 50%;
  margin-bottom: 60px;
}
footer .footer-center a {
  color: white;
}
footer .footer-right {
  margin-left: auto;
}
footer .footer-right .footer-right__top {
  display: flex;
}
footer .footer-right .right-logo:first-child {
  margin-right: 50px;
}
footer .footer-right .footer-right__bottom {
  margin-top: 95px;
  width: 375px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  margin-left: auto;
}
footer .footer-right .footer-right__bottom a {
  color: #078AD1;
}
footer .footer-bottom {
  background: #1D5292;
}
footer .footer-bottom .wrapper {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
}
footer .footer-bottom a {
  color: #91B0D6;
}
footer .footer-bottom div {
  color: #F2F6FB;
  font-weight: 400;
  font-size: 16px;
}
footer .footer-bottom .left {
  margin-right: 115px;
  color: #F2F6FB;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
}
footer .footer-bottom .center {
  color: #91B0D6;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
footer .footer-bottom .right {
  margin-left: auto;
  width: 375px;
}

.block-with-image .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-with-image .left {
  max-width: 830px;
}
.block-with-image .left .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}
.block-with-image .left .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  margin-top: 20px;
}
.block-with-image .right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 80px;
  align-items: flex-end;
}
.block-with-image .right div:last-child {
  margin-top: 50px;
  margin-right: 3rem;
}

.documents {
  padding-top: 65px;
  padding-bottom: 100px;
  background: #F5F5F5;
}
.documents .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.documents .item {
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 32%;
  margin-top: 60px;
  height: 240px;
}
.documents .left {
  width: 80px;
}
.documents .icon {
  background: #F1F1F1;
  border-radius: 6px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.documents .download {
  background: #DF5F63;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 30px;
  margin-top: 4px;
}
.documents .doc {
  background: #4D74ED;
}
.documents .right {
  color: #078AD1;
  display: block;
  margin-left: auto;
  max-width: 320px;
}
.documents .right a {
  color: #078AD1;
  display: block;
}
.documents .right a:nth-child(2) {
  margin-top: 2rem;
}